body {
    font-family: 'Courier New', Courier, monospace;
    background-color: burlywood;
    text-align: center;
}
#workspace {
    display: flex;
    justify-content: center;
    margin:auto;
}
#workspace > div {
    background-color: whitesmoke;
    box-shadow: 0.25em 0.5em rgb(0, 0, 0, 0.25);
    margin: 1em;
    padding: 1em;
    border-radius: 0.3em;
}
#controls_position {
    position: relative;
    width: 0;
    height: 0;
}
.controls {
    white-space: nowrap;
    position: absolute;
}
.controls > div {
    max-width: 24em;
    margin:auto;
    margin-bottom: 0.5em;
}
.controls > div > button, .controls > button {
    box-shadow: 0.1em 0.25em rgb(0, 0, 0, 0.25);
    cursor: pointer;
}
#canvas_container > canvas {
    border:1px solid black;
    margin-bottom: 0.5em;
}
button, input {
    padding: 0.075em;
    margin: 0.05em;
    border: 2px solid black;
    border-radius: 0.3em;
    text-align: center;
    vertical-align: middle;
}
.color {
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
}
.extrude {
    transition: box-shadow 0.1s;
    transition: transform 0.1s;
    cursor: pointer;
}
.extrude:hover {
    transform: translateY(-0.25em);
    box-shadow: 0 0.25em;
}
#elements {
    display:flex;
    flex-grow:1;
}
.element > div {
    display:grid;
}
.element > .options > .image {
    grid-area: image;
}
.selected {
    border-color: white;
}
.icon {
    width: 2em;
    height: 2em;
}
.image > img {
    width: 5em;
    height: 5em;
}

#popup {
    position:fixed;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
#popup > div {
    max-width: 60em;
    max-height: 100%;
    overflow: hidden;
    background-color: antiquewhite;
    border: 3px solid black;
    border-radius: 0.3em;
    box-shadow: 0.5em 1em rgb(0, 0, 0, 0.25);
    padding:1em;
    margin:auto;
}
#selectable_elements {
    max-height: 80vh;
    overflow-y: auto;
}
#selectable_elements > canvas {
    border: 3px solid black;
    border-radius: 0.3em;
    margin: 0.25em;
}
#selectable_elements > canvas.selected {
    border-color: yellow;
}

@media (orientation:landscape) {
    #workspace {
        max-width: 80em;
        height: 83vh;
    }
    #canvas_container > canvas {
        height: 70vh;
    }
    .tiny_icon {
        width: 1em;
        height: 1em;
    }
    #elements {
        flex-direction: column;
        overflow-y: auto;
    }
    .element {
        margin-bottom: 0.5em;
        display:flex;
        flex-direction: row;
    }
    .element > .options {
        flex-grow: 1;
        grid-template-areas: 
        'image image image . .'
        'image image image . .';
    }
    .element.flex > .options {
        display:flex;
    }
    .element.flex > .options > button {
        flex-grow: 1;
    }
    .element.singular > .options {
        grid-template-areas: 'image';
    }
    .element.dual > .options {
        grid-template-areas: 'image image image image .';
    }
    .element.tri > .options {
        grid-template-areas: 
        'image image image image .'
        'image image image image .';
    }
    .element.sept > .options {
        grid-template-areas: 
        'image image . . .'
        'image image . . .';
    }
    .element.multi > .options {
        grid-template-areas: 
        'image image . . .'
        'image image . . .'
        'image image . . .';
    }
    .element_outline {
        border-left: 2px solid black;
        padding-left: 0.5em;
        margin-bottom: 0.5em;
    }
    .add_element {
        width:100%;
        padding: 0;
    }
}
@media (orientation:portrait) {
    h1 {
        margin-top: 0.5em;
        margin-bottom: 0em;
    }
    #workspace {
        flex-direction: column;
    }
    #workspace > div {
        margin: 0.5em;
    }
    #canvas_container > canvas {
        height: 48vh;
    }
    .tiny_icon {
        width: 2em;
        height: 2em;
    }
    #elements {
        overflow-x: auto;
        height:24vh;
    }
    .element {
        margin-right: 0.25em;
        display:flex;
        flex-direction: column-reverse;
    }
    .element > .options {
        flex-grow: 1;
        grid-template-areas: 
        'image image'
        '. .';
    }
    .element.flex > .options {
        display:flex;
        flex-direction: column;
    }
    .element.singular > .options {
        grid-template-areas: 'image';
    }
    .element.dual > .options, .element.tri > .options {
        grid-template-areas: 
        'image'
        '.';
    }
    .element.sept > .options, .element.multi > .options {
        grid-template-areas: 
        'image image image'
        '. . .';
    }
    .element > .side {
        display:flex;
        flex-direction: row;
    }
    .element > .side > button {
        flex-grow: 1;
    }
    .element_children {
        display:flex;
    }
    .element_outline {
        border-left: 2px solid black;
        border-bottom: 2px solid black;
        padding-left: 0.5em;
        padding-bottom: 0.5em;
        margin-right: 0.5em;
    }
}